@import "fonts.css";

body {
    overflow-x: hidden;
    margin: 0;
}

#header {
    width: 100vw;
    height: 70px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 0px 0px 20px 10px rgb(245, 245, 245);
}

#header a {
    text-decoration: none;
}

#logo-link {
    color: darkcyan;
    margin: 15px;
    margin-right: 50px!important;
}

#logo {
    font-family: "DynaPuff";
    font-size: 30px;
}

.header-link {
    text-decoration: none;
    color: rgb(171, 53, 171);
    font-family: "MuseoModerno";
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;

    height: fit-content;
}